h1 {
    font-size: 40px;
    color: green;
  }

  p {
    color: red;
  }

ul.menu {
    list-style-type: none;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: row; /* ou bien column pour vertical */
    flex-wrap: wrap;
    justify-content: center; /* ou bien center ou bien flex-end */
    background-color: #ffffff;
    border: 2px solid #000000;
    }